.jumbotron{
	background-color: green;
	color: white;
	margin-top: 50px;
}

.card-hotel{
	flex: 1 250px;
	margin-top: 10px

}
.btn-reserva{
	width: 100%;
	border-radius: 0px;
}


footer{
	padding: 10px 10px 0 10px;
	background-color: black;
	color: white;
	margin-bottom: 0px;
	margin-top: 10px;
}

.footer-addres-icon{
	padding-right: 10px;
}

.tab-content{
	padding-top: 10px;
}