.jumbotron {
  background-color: #26bf29;
  color: white;
  margin-top: 50px;
  margin-bottom: 10px; }

.card-hotel {
  flex: 1 250px;
  margin-top: 10px;
  margin-bottom: 0; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

footer {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  background-color: black;
  color: white;
  margin-top: 10px;
  margin-bottom: 0px; }

.footer-addres-icon {
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px; }

.tab-content {
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px; }
