$red: #f51702;
$yellow: #e2ed07;
$green: #26bf29;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

@mixin padding($top, $right, $bottom, $left){
	padding-top: $top;
 	padding-right: $right;
  	padding-bottom: $bottom;
  	padding-left: $left;
}

.jumbotron{
	background-color: $green;
	color: white;
	@include margenes(50px, 10px);
}

.card-hotel{
	flex: 1 250px;
	@include margenes(10px, 0);

}
.btn-reserva{
	width: 100%;
	border-radius: 0px;
}


footer{
	@include padding (10px, 10px, 0px, 10px);
	background-color: black;
	color: white;
	@include margenes(10px, 0px);
}

.footer-addres-icon{
	@include padding (0px, 10px, 0px, 0px);
}

.tab-content{
	@include padding (10px, 0px, 0px, 0px);
}