@red: #f51702;
@yellow:#e2ed07;
@green: #26bf29;


.margenes(@top: 0px, @bottom: 0px){
	margin-top: @top;
	margin-bottom: @bottom;
}

.padding(@top: 0px, @right: 0px, @bottom: 0px, @left: 0px){
	padding-top: @top;
 	padding-right: @right;
  	padding-bottom: @bottom;
  	padding-left: @left;
}

.jumbotron{
	background-color: @green;
	color: white;
	.margenes(50px, 10px);
}

.card-hotel{
	flex: 1 250px;
	.margenes(10px, 0);

}
.btn-reserva{
	width: 100%;
	border-radius: 0px;
}


footer{
	.padding(10px, 10px, 0px, 10px);
	background-color: black;
	color: white;
	.margenes(10px, 0px);
}

.footer-addres-icon{
	.padding(0px, 10px, 0px, 0px);
}

.tab-content{
	.padding(10px, 0px, 0px, 0px);
}